body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('hatter.jpg');
    background-size: cover;
    background-position: center; 
    background-attachment: fixed;
}
.teteje{
    justify-content: center;
    background-color: white;
    box-shadow: 0.5rem 0.5rem 1rem 0.5rem #1a3300;
    display: grid;
    grid-template-columns: 6% 1fr;
}
#menu b:hover{
    background-color: gainsboro; 
}
#menu b{
    display: inline-block; 
    margin: 0 0.625rem;     
    font-size: 1.875rem; 
    color:#356600;
    border-radius: 5%;
}
#navbarNav{
    justify-content: center;
}
#logo{
    float: left;
    width: 90%;
    height: auto;
    margin-top: 0.75rem;
}
.horizontal-line {
    border-top: 0.125px solid #1a3300; 
}
#current b{
    color: black;
}
.bevezetoszoveg p{
    float: left;
    font-size: 1.2rem;
}
.bevezetoszoveg p:hover{
    color: #1a3300;
    border: 0;
    font-weight: bold;
}
.bevezetoszoveg{
    box-shadow: 0.5rem 0.5rem 1rem 0.5rem #1a3300;
    margin-bottom: 3.125rem;
    margin-top: 3.125rem;
    margin-left: 7.5rem;
    border: solid #356600; 
    border-radius: 2%; 
    background-color: #CBE1B1;
}
h1:hover{
    color: #1a3300;
    font-size: 2.6em;
    border: 0;
}
#kepek{
    display: flex;
    flex-direction: column; 
    align-items: center; 
    margin-bottom: 3.125rem;
    margin-top: 3.125rem;
    margin-left: 3.125rem;
    margin-right: 6rem;
    background-color: #CBE1B1; 
    border-radius: 2%; 
    border: solid #356600;
}
#kepek img:hover{
    border: none;
    width: 33.125rem; 
}
#kepek img{
    border-radius: 2%; 
    border: solid #356600;
}
video{
    border: solid #356600;
    border-radius: 0.75em;
    margin-left: 5em;
    margin-top: 5em;
    box-shadow: 0.5rem 0.5rem 1rem 0.5rem #1a3300;
}
table {
    border-collapse: collapse;
    width: 18.75rem; 
    font-size: 1.2rem;
}
th {text-align:left;}
th,td {border:0}

.tablazat  caption:hover{
    font-size: 1.3rem;
    color: #1a3300;
}
.tablazat{
    display: grid;
    grid-template-columns: 37.5rem 50rem;
}
footer{
    font-weight: bold;
    background-color: white;
}
.tablazat td{
    background-color: #CBE1B1;
}
.tablazat th{
    background-color: #CBE1B1;
}
#tabllink{
    margin-top: 6%;
}
#kozepgrid{
    margin-top: 2%;
    border: solid #356600;
    border-radius: 0.75em;
    background-color: #CBE1B1;
    width: 25%;
}
#kivancsi h2{
    font-size: 1.6rem; 
    margin-top: 1.25rem;
    margin-left: 1.25rem;
    font-weight: bold;
}
#kivancsi h2:hover{
    color: #1a3300;
    border: 0;
}
#kivancsi{
    margin-left: 50px;
}
#miacserkeszet{
    display: grid;
    grid-template-columns: 52% 47%;
}
#miacserkeszet2{
    display: grid;
    grid-template-columns: 45% 52%;
}
#sugo{
    font-size: 1rem;
    font-family: sans-serif;
}
a:visited {
    color:#356600; 
}
a{
    color: black;
}
h3{
    background-color: beige;
    border-radius: 2%;
    border: solid #1a3300;
    margin-right: 85%;
    text-align: center;
}
#gyengenlato{
    background-color: beige;
    border-radius: 2%;
    border: solid #1a3300;
    margin-right: 85%;
    text-align: center;
    font-size: 1.4em;
}
#videoleiras{
    text-align: center;
    background-color: #CBE1B1;
    border-radius: 0.5em;
    border: solid #1a3300;
    margin-left: 13%;
    margin-right: 1rem;
    font-size: 1.2em;
    width: 50%;
}
.nyomtatas{
    display: none;
}
#normalbetu{
    display: none;
}
@media screen and (max-width:1000px) {
    #kozepgrid{
        width: 90%;
    }
}
@media screen and (max-width:770px) {
    #gyengenlato{
        display: none;
    }
    #miacserkeszet{
        display: grid;
        grid-template-columns: 100%; 
    }
    #miacserkeszet2{
        display: grid;
        grid-template-columns: 100%;
    }
    #miacserkeszet, .bevezetoszoveg {margin-left: 0;}
    #miacserkeszet p{
        font-size: 1em;
    }
    .bevezetoszoveg{
        margin-left: 1rem;
    }
    #menu b{
        font-size: 1.5rem;
    }
    #kozepgrid{
        width: 70%;
    }
    #kepek{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    #kezdoszoveg, #kezdoszoveg2{
        margin-right: 1rem;
        font-size: 1.1rem;
    }
    video{
        width: 90%;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
        margin-top: 0;
    }
    #videoleiras{
        margin-left: 2.3rem;
        margin-right: 2.3rem;
        font-size: 1rem;
    }
    .tablazat{
        display: grid;
        grid-template-columns: 95%;
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
    #kivancsi{
        width: 95%;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 0;
    }
    #kivancsi h2{
        font-size: 1.4rem;
    }
    #ugras h3{
        margin-right: 50%;
    }
}
@media print {
    body {
        font-size: 12pt;
    }
    
    header, #gyengenlato, footer{
        display: none;
    }
    .bevezetoszoveg{
    box-shadow: none;
    margin-top: 2em;
    margin-left: 2em;
    margin-right: 2em;
    border: 0; 
    border-radius: 0; 
    text-align: justify;
    font-size: 1.6em;
    }
    #kozepgrid{
        margin-top: 3em;
        margin-bottom: 0;
        border: 0;
        border-radius: 0;
        width: 50%;
    }
    #miacserkeszet{
        display: grid;
        grid-template-columns: 1fr;
    }
    #kepek, #kepek img{
        border: 0;
        margin-top: 0;
        margin-bottom: 0;
    }
    #miacserkeszet2{
        display: grid;
        grid-template-columns: 1fr;
        text-align: justify;
        margin-top: 0;
    }
    video{
        display: none;
    }
    .nyomtatas{
        display: inline;
        margin-left: 2em;
    }
    #videoleiras{
        display: none;
    }
    summary{
        display: none;
    }
    .tablazat{
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 0;
    }
    .tablazat th, .tablazat td {
        border: 1px solid black; 
        padding: 8px;
    }
    h2{
        font-size: 1.4em;
    }
    #tabllink th, #tabllink td{
        border: 0;
    }
    #tabllink{
        margin-top: 0;
    }
    #ugras{display: none;}
}